autogen-agentchat
autogen-agentchat[long-context]~=0.2
openai
crawl4ai==0.3.731
nest-asyncio
google-api-python-client
requests
chromadb
datasets
pyautogen[anthropic]
langgraph
langchain
langchain_openai
langchain_anthropic
langchain_chroma
langchain_core
pypdf
markdownify
google-generativeai
vertexai